/* My Styles */

.main {
    display: flex;
    justify-content: center;
  }
  
  figure {
    background: cyan;
    margin: 1em;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .card {
    width: clamp(10ch, 25%, var(--content-width));
    margin: 2rem;
  }
  
  .card figcaption {
    display: flex;
    flex-direction: column;
    margin: 0 2rem 2rem;
  }
  
  .card h2 {
  margin-block-end: 0;
  }
  
  .card button {
    align-self: flex-end;
    padding: 0.75rem 1rem;
    border: 0.25rem solid black;
    font-size: 1rem;
    text-transform: uppercase;
  }
  
